@charset "UTF-8";

/*--------Put Your Custom CSS Rules Below--------*/
/*--- This oneoff overrides the code in https://github.com/oreillymedia/<name_of_theme>/blob/master/pdf/pdf.css---*/

/* Pygments with manni theme */
pre code.c { font-style: italic; } /* Comment */
pre code.k { font-weight: bold; } /* Keyword */
pre code.cm { font-style: italic; } /* Comment.Multiline */
pre code.c1 { font-style: italic; } /* Comment.Single */
pre code.cs { font-weight: bold; font-style: italic; } /* Comment.Special */
pre code.ge { font-style: italic; } /* Generic.Emph */

pre code.gp { font-weight: bold; } /* Generic.Prompt */
pre code.gs { font-weight: bold; } /* Generic.Strong */
pre code.gu { font-weight: bold; } /* Generic.Subheading */
pre code.kc { font-weight: bold; } /* Keyword.Constant */
pre code.kd { font-weight: bold; } /* Keyword.Declaration */
pre code.kn { font-weight: bold; } /* Keyword.Namespace */
pre code.kr { font-weight: bold; } /* Keyword.Reserved */
pre code.kt { font-weight: bold; } /* Keyword.Type */
pre code.nc { font-weight: bold; } /* Name.Class */
pre code.ni { font-weight: bold; } /* Name.Entity */
pre code.ne { font-weight: bold; } /* Name.Exception */
pre code.nn { font-weight: bold; } /* Name.Namespace */
pre code.nt { font-weight: bold; } /* Name.Tag */
pre code.ow { font-weight: bold; } /* Operator.Word */
pre code.sd { font-style: italic; } /* Literal.String.Doc */
pre code.se { font-weight: bold; } /* Literal.String.Escape */

/*----Uncomment to temporarily turn on code-eyballer highlighting (make sure to recomment after you build)

pre {
 background-color: yellow;
}
---*/

/*Suppress b-heads in toc*/
li[data-type="sect2"] {display: none !important;}

/*Links to examples*/
/*.coderef { font-size: x-small; font-style: italic }*/

/*----Uncomment to turn on automatic code wrapping

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
----*/

/*----Uncomment to change the TOC start page (set 
the number to one page _after_ the one you want; 
so 6 to start on v, 8 to start on vii, etc.)

@page toc:first {
  counter-reset: page 6;
}
----*/

/*----Uncomment to fix a bad break in the title 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] h1 {
  padding-left: 1.5in;
}
----*/

/*----Uncomment to fix a bad break in the subtitle
      (increase padding value to push down, decrease
      value to pull up)

section[data-type="titlepage"] h2 {
  padding-left: 1in;
}
----*/

/*----Uncomment to fix a bad break in the author names 
      (increase padding value to push down, decrease 
      value to pull up)

section[data-type="titlepage"] p.author {
  padding-left: 3in;
}
----*/

/* ----Uncomment to suppress duplicate page numbers in index entries
       WARNING: MAY CAUSE PDF BUILDS TO SEGFAULT

div[data-type="index"] {
  -ah-suppress-duplicate-page-number: true;
}

----*/
